
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Encode+Sans:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('./homePage.css');
@import url('./seatSelector.css');
@import url('./fullCalendar.css');
@import 'swiper/css/bundle';

@tailwind base;
@tailwind components;
@tailwind utilities;



/* Swiper Carousel */

.swiper{
  width: 100vw;
  height: 65vh;
  min-height: 500px !important;
  position: relative;
  overflow: hidden;
  transition: height 0.8s ease-in-out;
}

.swiper-pagination-bullet {
  @apply bg-zinc-400 dark:bg-zinc-500/90 backdrop-blur-md size-[0.6rem] opacity-60;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  @apply bg-white;
}

@media (max-width: 109em) {
  .swiper {
      height: 50vh;
      min-height: 500px !important;
  }

  .swiper {
  
      height: 50vh; /* Hauteur de chaque slide */
      min-height: 500px !important;
  
  }

  /* .index-content {
      margin-top: 59vh
  } */
}






.sideMenu {
  @apply block text-xl text-white opacity-90 hover:bg-white hover:bg-opacity-20 hover:opacity-100  transition-all duration-300 ease-in-out py-5 px-6 text-end md:text-start;
}

.sideMenu.disconnect {
  @apply hover:text-red-500;
}


.solaris {
  font-family: 'oswald', sans-serif;
  letter-spacing: 0.6px;
}

.preventScrollWhenModal {
  overflow: hidden !important;
  height: 100vh !important;
  width: 100vw !important;
}



header {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navBar-li {
    @apply text-lg text-white opacity-85 pl-2 pr-2  hover:bg-white hover:bg-opacity-10 hover:opacity-100 rounded-md transition-all duration-300 ease-in-out;
    font-weight: 500;
}

.navBar-account {
    @apply  text-white opacity-90 pl-2 pr-2 hover:bg-white hover:bg-opacity-20 hover:opacity-100 rounded-md transition-all duration-300 ease-in-out;
}

.dropdown-account {
  color: white;
}



/* Custom Tailwind Classes */

.h-120 {
    height: 30rem;
}

.carousel-box {
  transition: transform 1s ease-in-out;
}

/* film Caroussel */

.filmList::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 5%;
    height: 100%;
    background: linear-gradient(to left,rgba(255, 255, 255, 0), black);
    content: "";
    z-index: 2;
    pointer-events: none;
}

.filmList::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 5%;
  height: 100%;
  background: linear-gradient(to right, rgba(255,255,255,0),black);
  content: "";
  pointer-events: none;
}


.animation-paused {
  animation-play-state: paused;
}

.animation-running {
  animation-play-state: running;
}




/* FullCalendar Customization */