.owl-stage {
    position: fixed;
    overflow:hidden !important;
}

.owl-item {
    overflow: hidden !important;
}


.index-content {
    height: 60vh ;
}
@media (max-width: 109em) {

    .index-content {
        margin: 0 !important;
        height: 44vh ;
        min-height: 440px;
    }
}